@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Special+Elite);

body {
    margin: 0;
    background-image: url(../images/pinkworldmap.jpg);
    background-position: bottom;
    font-family: 'Droid Sans', sans-serif;
    overflow-x: hidden;
}   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', cursive;
    color: #4A0926;
    background-color: #CC578A;
    padding: 10px;
}

a {
    color: #CC578A;
    text-decoration: none;
}

a:focus, a:hover {
    color: #4A0926;
    text-decoration: underline;
}

#menu {
    height: 50px;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    background-color: #99134E;
    -webkit-box-shadow: 0 -2px 10px 2px #524E2A;
    /*-moz-box-shadow: 0 -2px 10px 2px #524E2A;*/
    box-shadow: 0 -2px 10px 2px #524E2A;
    opacity: 0.9;
    padding: 5px;
}

#menu img {
    margin: auto 5px;
    width: 50px;
    height: 50px;
}

.window {
    width: 300px;
    overflow: hidden;
    border: 2px solid #99134E;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #BEBEBE;
    -webkit-box-shadow: 2px 2px 10px 2px #524E2A;
    box-shadow: 2px 2px 10px 2px #524E2A;
    z-index: 0;
    display: inline-block;
    position: absolute;
}

.windowIcon {
    width: 30px;
    height: 30px;
}

.windowTitle {
    display: inline-block;
    margin-left: 3px;
    font-family: 'Special Elite', cursive;
}

.windowHeader {
    width: 100%;
    height:40px;
    padding: 5px;
    color: #FFFFFF;
    background: #e286ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #e286ff 0%, #e286ff 0%, #99134e 9%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e286ff), color-stop(0%,#e286ff), color-stop(9%,#99134e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e286ff 0%,#e286ff 0%,#99134e 9%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e286ff 0%,#e286ff 0%,#99134e 9%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e286ff 0%,#e286ff 0%,#99134e 9%); /* IE10+ */
    background: linear-gradient(to bottom,  #e286ff 0%,#e286ff 0%,#99134e 9%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e286ff', endColorstr='#99134e',GradientType=0 ); /* IE6-9 */

}

.windowBody {
    width: 100%;
    height: 360px;
    padding: 2px;
    overflow-y: scroll;
    background-color: #FFFFFF;
}

.windowFooter {
    width: 100%;
    height: 10px;
    background-color: #99134E;
    position: relative;
    padding: 10px;
}

.close img{
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    float: right;
    margin-right: 10px;
}

.load {
    width: 20px;
    height: 20px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
}

.thumbLink {
    display: inline-block;
    border: 2px solid #E286FF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #E286FF;
    margin: 3px;
}

.thumb {
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

.rssFeed p, .rssFeed a {
    padding: 0 10px;
}